body,
html {
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  &.overflow {
    overflow: hidden !important;
  }
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #0B0F44;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main-title{
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  @media(max-width: 1024px){
    font-size: 34px;
  }
  @media(max-width: 767px){
    font-size: 28px;
  }
}

.main-title2{
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #334960;
  @media(max-width: 1024px){
    font-size: 34px;
  }
  @media(max-width: 767px){
    font-size: 26px;
  }
}

.border-btn{
  @include inline-flex;
  @include align-center;
  @include justify-center;
  padding: 12px 28px;
  border-radius: 50px;
  border: 1px solid #334960;
  color: #334960;
  font-size: 16px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 10px 24px;
   }
  &:hover{
    background: #334960;
    color: white;
  }
}

.border-white-btn{
  @include inline-flex;
  @include align-center;
  @include justify-center;
  padding: 12px 28px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 10px 24px;
   }
  &:hover{
    background: #334960;
    color: white;
    border-color: #334960;
  }
}

.white-btn{
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  @include justify-center;
  background: white;
  border: 1px solid #fff;
  padding: 16px 32px;
  color: #0B0F44;
  font-size: 18px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 12px 24px;
   }
  &:hover{
    background: transparent;
    color: white;
  }
}

.blue-btn{
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  @include justify-center;
  background: #334960;
  border: 1px solid #334960;
  padding: 14px 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 12px 24px;
   }
  &:hover{
    background: white;
    color: #334960;
  }
}

input.error, textarea.error{
  border-color: red !important;
}

.maps{
  margin: 60px 0;
  @media(max-width: 767px){
    margin: 30px 0;
   }
   .map-container{
    height: 550px;
    padding: 10px 30px 30px 430px;
    @media(max-width: 1200px){
      height: 500px;
     }
     @media(max-width: 1024px){
     padding: 20px;
     width: 100%;
     padding-top: 5px;
     height: 400px;
     }
     @media(max-width: 767px){
      height: 220px;
      }
   }
   .main-title{
    margin-bottom: 50px;
    @media(max-width: 767px){
      margin-bottom: 20px;
     }
   }
   .accordion-item {
    margin-bottom: 20px;
    overflow: hidden;
    background: #EBEDEF;
    border-radius: 20px;
  }
  .accordion-header {
    background: #EBEDEF;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    padding: 25px 30px;
    @media(max-width: 1024px){
      @include dir-col;
      align-items: flex-start;
     }
     @media(max-width: 767px){
      padding: 15px;
      }
    b{
      font-size: 26px;
      font-weight: 600;
      color: #0B0F44;
      min-width: 400px;
      @media(max-width: 767px){
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        }
    }
    .text{
      font-size: 18px;
      color: #0B0F44;
      @media(max-width: 767px){
       font-size: 16px;
       padding-right: 20px;
       max-width: 230px;
       }
    }
  }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  }
  
  .accordion-item.open .accordion-content {
    max-height: 550px;
  }
  .map-container {
    width: 100%;
  }
  .icon {
    width: 50px;
    height: 50px;
    background: #334960;
    border-radius: 50%;
    @include flex;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 20px;
    transition: transform 0.3s;
    @media(max-width: 767px){
      width: 34px;
      height: 34px;
      }
    &:after{
      content: "";
      background: url(../img/plus-icon.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media(max-width: 767px){
        width: 20px;
        height: 20px;
        }
    }
  }
  .open .icon {
    transform: rotate(45deg);
  }
}

.drop-menu {
  @include dir-col;
  @include justify-center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  @include align-center;
  display: none;
  background: white;
  @media(max-width: 1024px) {
      @include flex;
  }

  .line {
      width: 20px;
      height: 2px;
      background-color: #334960;
      display: block;
      margin: 1.5px auto;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

  }
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}


.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

.select-wrap {
  position: relative;
  select {
    display: none;
  }

  .select2 {
    position: relative;
    width: 100% !important;
    height: 100%;

    .selection {
      width: 100%;
    }
  }

  .select2-container--default .select2-selection--single {
    background: white;
    text-align: left;
    border: none;
    padding: 0;
    height: 100%;
    border-radius: 40px !important;
    &:focus {
      outline: none;
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 20px;
    line-height: 27px;
    color: #334960;
    padding: 15px 20px;
    border-radius: 40px;
    @media(max-width: 1400px){
      font-size: 16px;
      padding: 8px 20px;
     }
  }

  .select2-selection__arrow {
    width: 20px !important;
    height: 11px !important;
    top: 48% !important;
    right: 20px !important;
    transform: translateY(-50%);
    z-index: 1 !important;
    background-color: transparent;

    b {
      background: url(../img/select-arrow.svg) no-repeat center center;
      width: 20px !important;
      height: 11px !important;
      border: none !important;
      transition: 0.2s;
    }
  }

  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    transform: rotate(180deg);
  }
  &.style-border{
    border-radius: 40px;
    border: 1px solid rgba(#334960, .4);
    .select2-container .select2-selection--single .select2-selection__rendered {
      // font-size: 16px;
      padding: 8px 16px;
    }
    .select2-selection__arrow {
      width: 19px !important;
      height: 10px !important;
  
      b {
        width: 19px !important;
        height: 10px !important;
      }
    }
  }
}

.select2-dropdown {
  border: none !important;
  font-size: 20px ;
  @media(max-width: 1300px){
    font-size: 16px ;
   }
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: white;
  color: #141414;
  font-size: 20px;
  transition: 0s;
  @media(max-width: 1300px){
    font-size: 16px;
   }
}

.select2-container--default .select2-results__option--highlighted {
  color: #39281c;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  font-size: 20px;
  background: white;
  font-weight: 400;
  color: #334960;
  transition: 0.3s;
  @media(max-width: 1300px){
    font-size: 16px;
   }
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: inherit !important;
  background: white;
  border-radius: 10px;
  padding: 15px 0;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  font-size: 16px;
}

.select2-results__option {
  font-size: 20px;
  background: #fff;
  white-space: nowrap;
  @include flex;
  @include align-center;
  padding: 0 15px !important;
  margin-bottom: 10px;
  transition: 0s;
  @media(max-width: 1300px){
    font-size: 16px;
   }
  &:last-child {
    margin-bottom: 0;
    border: none;
  }

}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  padding: 0 10px;
  color: #334960;
  font-size: 20px;
  transition: 0s;
  @media(max-width: 1300px){
    font-size: 16px;
   }
}


.questions__item-body {
  padding-top: 20px;
  display: none;
  border-radius: 0 0 10px 10px;
  p {
    color:  rgba(12, 12, 12, 0.70);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 850px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.questions__item {
  margin-bottom: 15px;
  padding: 30px;
  border-radius: 10px;
  background: #F3F3F4;
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.questions__item-heading {
  @include flex;
  @include align-center;
  position: relative;
  cursor: pointer;

  .texts{
    @include flex;
    @include dir-col;
    .grey{
      margin-bottom: 12px;
      display: block;
      color:  rgba(12, 12, 12, 0.70);
      font-size: 20px;
      @media(max-width: 767px){
       font-size: 16px;
       margin-bottom: 10px;
       }
    }
    b{
      font-size: 26px;
      font-weight: bold;
      color: #334960;
      @media(max-width: 767px){
        font-size: 20px;
       }
    }
  }
  .icon {
    transition: 0.3s;
    min-width: 50px;
    width: 50px;
    height: 50px;
    @include flex;
    @include align-center;
    @include justify-center;
    background: #334960;
    margin-left: auto;
    border-radius: 50%;
    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
      min-width: 30px;
    }
    &:after {
      content: "";
      background: url(../img/plus-icon.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 30px;
      height: 30px;
      transition: 0.3s;
      @media (max-width: 767px) {
        width: 20px;
        height: 20px;
      }
    }
    &.rotate {
      &:after {
        content: "";
        background: url(../img/minus-icon.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 30px;
        height: 4px;
        transition: 0.3s;
        @media (max-width: 767px) {
          width: 20px;
          height: 4px;
        }
      }
    }
  }
}

.swich-wrap{
  @include flex;
  @include align-center;
}

.switch {
  position: relative;
  @include inline-flex;
  @include align-center;
margin-left: 10px;
  input {
      display: none;

      &:checked ~ .slider {
          background: #334960;

          &:before {
              transform: translateX(21px);
              background: #fff;
          }
      }

      &:focus {
          outline: none !important;
      }
  }

  .slider {
      border-radius: 31px;
      cursor: pointer;
      overflow: hidden;
      transition: .4s;
      background: #334960;
      width: 48px;
      height: 26px;
      margin-right: 10px;

      &:before {
          position: absolute;
          content: "";
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 50%;
          top: 1px;
          left: 2px;
          transform: translateX(0);
          transition: .4s;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
      }
  }

}

.switch.flat .slider {
  box-shadow: none;
}

.switch.flat .slider:before {
  background: #334960;
}

.switch.flat input:checked + .slider:before {
  background: #334960;
}

.switch.flat input:checked + .slider {
  background: #334960;
}

.ui-slider-handle {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50% !important;
  background: #334960 !important;
}

.ui-widget.ui-widget-content{
  height: 1px;
  background: #334960 !important;
  border-bottom: 1px solid #334960;
}

.ui-slider-horizontal .ui-slider-handle{
  top: -9px !important; 
}