body,
html {
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  &.overflow {
    overflow: hidden !important;
  }
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #0B0F44;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main-title{
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  @media(max-width: 1024px){
    font-size: 34px;
  }
  @media(max-width: 767px){
    font-size: 28px;
  }
}

.main-title2{
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #334960;
  @media(max-width: 1024px){
    font-size: 34px;
  }
  @media(max-width: 767px){
    font-size: 26px;
  }
}

.border-btn{
  @include inline-flex;
  @include align-center;
  @include justify-center;
  padding: 12px 28px;
  border-radius: 50px;
  border: 1px solid #334960;
  color: #334960;
  font-size: 16px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 10px 24px;
   }
  &:hover{
    background: #334960;
    color: white;
  }
}

.border-white-btn{
  @include inline-flex;
  @include align-center;
  @include justify-center;
  padding: 12px 28px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 10px 24px;
   }
  &:hover{
    background: #334960;
    color: white;
    border-color: #334960;
  }
}

.white-btn{
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  @include justify-center;
  background: white;
  border: 1px solid #fff;
  padding: 16px 32px;
  color: #0B0F44;
  font-size: 18px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 12px 24px;
   }
  &:hover{
    background: transparent;
    color: white;
  }
}

.blue-btn{
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  @include justify-center;
  background: #334960;
  border: 1px solid #334960;
  padding: 14px 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  @media(max-width: 767px){
    font-size: 14px;
    padding: 12px 24px;
   }
  &:hover{
    background: white;
    color: #334960;
  }
}

input.error, textarea.error{
  border-color: red !important;
}

.maps{
  margin: 60px 0;
  @media(max-width: 767px){
    margin: 30px 0;
   }
   .map-container{
    height: 550px;
    padding: 10px 30px 30px 430px;
    @media(max-width: 1200px){
      height: 500px;
     }
     @media(max-width: 1024px){
     padding: 20px;
     width: 100%;
     padding-top: 5px;
     height: 400px;
     }
     @media(max-width: 767px){
      height: 220px;
      }
   }
   .main-title{
    margin-bottom: 50px;
    @media(max-width: 767px){
      margin-bottom: 20px;
     }
   }
   .accordion-item {
    margin-bottom: 20px;
    overflow: hidden;
    background: #EBEDEF;
    border-radius: 20px;
  }
  .accordion-header {
    background: #EBEDEF;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    padding: 25px 30px;
    @media(max-width: 1024px){
      @include dir-col;
      align-items: flex-start;
     }
     @media(max-width: 767px){
      padding: 15px;
      }
    b{
      font-size: 26px;
      font-weight: 600;
      color: #0B0F44;
      min-width: 400px;
      @media(max-width: 767px){
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        }
    }
    .text{
      font-size: 18px;
      color: #0B0F44;
      @media(max-width: 767px){
       font-size: 16px;
       padding-right: 20px;
       max-width: 230px;
       }
    }
  }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  }
  
  .accordion-item.open .accordion-content {
    max-height: 550px;
  }
  .map-container {
    width: 100%;
  }
  .icon {
    width: 50px;
    height: 50px;
    background: #334960;
    border-radius: 50%;
    @include flex;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 20px;
    transition: transform 0.3s;
    @media(max-width: 767px){
      width: 34px;
      height: 34px;
      }
    &:after{
      content: "";
      background: url(../img/plus-icon.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media(max-width: 767px){
        width: 20px;
        height: 20px;
        }
    }
  }
  .open .icon {
    transform: rotate(45deg);
  }
}



